/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, section, article,
 h1, h2, p, strong, em, a, ul {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
 }

 h3, h4, h5 {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
 }

ul {
  list-style: none;
}

textarea {
  height: 100px;
}

header + h1, .beers-top h1 {
  font-size: 38px;
  margin: 0 auto;
  font-weight: bold;
}

hr {
  margin: 10px;
}

.wrapper {
  background-color: #f3f2ea;
}

.add-button {
  background-color: #ffcc00;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 35px;
  vertical-align: middle;
  font-weight: bold;
}

.add-button:focus {
  outline: 0;
}

.add-button:hover {
  background-color: #efb134;
}

.errors {
  color: white;
  font-size: 18px;
 }

.splash {
  background: image-url('splash2.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash a {
  text-decoration: none;
  color: white;
}

.splash button {
  font-size: 18px;
  padding: 10px;
  margin: 20px;
  background-color: transparent;
  color: white;
  border: solid 3px white;
  border-radius: 5px;
}

.splash button:hover {
  background-color: #ffcc00;
  transition: 1s;
}

.splash header {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  margin-top: 0;
  padding-top: 20px;
}

.splash section {
  display: flex;
  text-align: center;
}

.home-logo {
 font-family: 'Anton', sans-serif;
 font-size: 128px;
 color: white;
 text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.home-logo + h2, .header-logo {
  color: white;
  font-size: 36px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header-logo {
  font-family: 'Anton', sans-serif;
}

.splash section {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0 auto;
  padding: 40px;
}

input, .add-image, textarea, select {
 margin: 5px;
 font-size: 20px;
 border-radius: 5px;
 padding: 5px;
}

input[type="submit"], .add-image {
 background-color: #ffcc00;
 color: white;
 text-transform: capitalize;
 margin-top: 25px;
 font-size: 24px;
}

input[type="submit"]:hover, .add-image:hover {
  background-color: #efb134;
}

.user-form input, .add-image{
  border: 3px solid transparent;
}

.beer-form input, .beer-form textarea, select {
  border: 3px solid #f3f2ea;
}

input:focus, textarea:focus, select:focus {
  outline:none;
  border: 3px solid #ffcc00;
  border-radius: 5px;
}

.main-header {
  display: flex;
  background-color: #ffcc00;
  width: 100%;
  height: 50px;
  justify-content: space-between;
}

.main-header nav {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%
}

.header-link {
  color: white;
  font-size: 28px;
}

.user-header {
  margin-right: 10%;
  display: flex;
  align-items: center;
}

.user-header > li {
  position: relative;
}

li:hover .user-options {
  display: block;
}

.user-options {
  display: none;
  position: absolute;
  background: #363638;
  border: 1px solid white;
}

.user-options li {
  color: white;
  height: 30px;
  padding: 5px;
  display: inline-block;
  width: 100px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 18px;
}

.user-options li:hover {
  background-color: black;
}

.user-header-img {
  height: 30px;
  border-radius: 25px;
}

.beers-index-ul, .beer-show-item, .checkin-index-ul {
  width: 55%;
  margin: 20px;
  background-color: white;
  padding: 20px;
  margin-left: 5%;
}

.beer-index-item {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.beer-index-item img {
  width: 15%;
  height: 100px;
}

.beer-index-item div {
  width: 70%;
}

.beer-index-item-text {
  margin-left: 20px;
  margin-bottom: 10px;
}

.beer-index-item-text h3 {
  color: #efb134;
  font-size: 22px;
}

.beer-index-item-text h3:hover, .sidebar-item h3:hover {
  color: #ffcc00;
}

.beer-index-item ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  font-size: 20px;
  border-top: 1px solid #dbdee0;
  border-bottom: 1px solid #dbdee0;
  margin-bottom: 20px;
  margin-top: 20px;
}

.beer-index-item ul li {
  border-right: 1px solid #dbdee0;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.beer-index-item ul li:last-of-type {
  border-right: 0;
}

.beers-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 55%;
  margin-left: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
}

main {
  display: flex;
}

aside {
  background-color: white;
  width: 30%;
  margin: 20px;
}

aside h2 {
  font-size: 26px;
  margin: 10px;
  font-weight: 500;
}

.sidebar-item {
  display: flex;
}

.sidebar-item img {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.sidebar-item h3 {
  margin-top: 10px;
  color: #efb134;
  font-size: 20px;
}

.beer-form {
  background-color: white;
  width: 40%;
  height: 600px;
  margin-top: 30px;
}

.beer-form img {
  width: 20%;
}

.beer-form-top {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  flex-direction: column;
}

.beer-form > div {
  display: flex;
}

.one-third-form {
  width: 33%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.beer-form textarea {
  margin-bottom: 80px;
}

.beer-form-errors {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.beer-form-errors li {
  color: black;
  font-size: 18px;
}

.beer-show-item {
  height: 35%;
  margin: 20px;
  margin-left: 5%;
}

.beer-show-item nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.beer-show-item nav button {
  margin-left: 15px;
}

.beer-show-item h3 {
  font-size: 36px;
}

.star-rating {
  background-color: #ffcc00;
  height: 100%;
}
