/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, section, article,
 h1, h2, p, strong, em, a, ul {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
 }

h3, h4, h5 {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
}

h1, h2, h3, h4, h5, p, span, li {
  font-family: 'Noto Serif', serif;
}

ul {
  list-style: none;
}

textarea {
  height: 100px;
}

header + h1, .beers-top h1 {
  font-size: 38px;
  margin: 0 auto;
  font-weight: bold;
}

hr {
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

button {
  border: 0;
}

.wrapper {
  background-color: #f3f2ea;
  height: 100vh;
  overflow: auto;
}

.add-button, .cheers-button {
  background-color: #ffcc00;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 35px;
  vertical-align: middle;
  font-weight: bold;
}

.add-button:focus, .cheers-button:focus {
  outline: 0;
}

.cheers-button {
  width: 25%;
}

.add-button:hover, .cheers-button:hover {
  background-color: #efb134;
}

.errors {
  color: white;
  font-size: 18px;
 }

.splash {
  background: image-url('splash2.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash a {
  text-decoration: none;
  color: white;
}

.splash button {
  font-size: 18px;
  padding: 10px;
  margin: 20px;
  background-color: transparent;
  color: white;
  border: solid 3px white;
  border-radius: 5px;
}

.splash button:hover {
  background-color: #ffcc00;
  transition: 1s;
}

.splash header {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  margin-top: 0;
  padding-top: 20px;
}

.splash section {
  display: flex;
  text-align: center;
}

.home-logo {
 font-family: 'Anton', sans-serif;
 font-size: 128px;
 color: white;
 text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.home-logo + h2, .header-logo {
  color: white;
  font-size: 36px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header-logo {
  font-family: 'Anton', sans-serif;
}

.splash section {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0 auto;
  padding: 40px;
}

input, .add-image, textarea, select, .comment-form button {
 margin: 5px;
 font-size: 20px;
 border-radius: 5px;
 padding: 5px;
}

input[type="submit"]:hover, .add-image:hover, .comment-form button:hover {
  background-color: #efb134;
}

input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.add-image {
  text-align: center;
}

.user-form input, .add-image, .comment-form button {
  border: 3px solid transparent;
}

.comment-form button {
  outline: 0;
}

.beer-form input, .beer-form textarea, select, .checkin-form textarea {
  border: 3px solid #f3f2ea;
}

input[type="submit"], .add-image, .comment-form button {
  background-color: #ffcc00;
  color: white;
  text-transform: capitalize;
  margin-top: 25px;
  font-size: 24px;
  border: 0;
}

input:focus, textarea:focus, select:focus {
  outline:none;
  border: 3px solid #ffcc00;
  border-radius: 5px;
}

.main-header {
  display: flex;
  background-color: #ffcc00;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}

.main-header nav {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%
}

.header-link {
  color: white;
  font-size: 28px;
}

.user-header {
  margin-right: 10%;
  display: flex;
  align-items: center;
}

.user-header > li {
  position: relative;
}

li:hover .user-options {
  display: block;
}

.user-options {
  display: none;
  position: absolute;
  background: #363638;
  border: 1px solid white;
}

.user-options li {
  color: white;
  height: 30px;
  padding: 5px;
  display: inline-block;
  width: 100px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 18px;
}

.user-options li:hover {
  background-color: black;
}

.user-header-img {
  height: 30px;
  border-radius: 25px;
}

.beers-index-ul, .beer-show-item, .checkin-index-ul {
  width: 55%;
  margin: 20px;
  background-color: white;
  padding: 20px;
  margin-left: 5%;
}

.checkin-index-ul {
  display: flex;
  flex-direction: column-reverse;
}

.beer-index-item {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.beer-index-item img {
  width: 15%;
  height: 100px;
}

.beer-index-item div {
  width: 70%;
}

.beer-index-item-text {
  margin-left: 20px;
  margin-bottom: 10px;
}

.beer-index-item-text h3 {
  color: #c60;
  font-size: 22px;
}

.beer-index-item-text h3:hover, .sidebar-item h3:hover, .checkin-link:hover, .checkin-show-body h2:hover {
  color: #ffcc00;
}

.beer-index-item ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  font-size: 20px;
  border-top: 1px solid #dbdee0;
  border-bottom: 1px solid #dbdee0;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
}

.beer-index-item ul li {
  border-right: 1px solid #dbdee0;
  height: 100%;
  padding: 7px;
  box-sizing: border-box;
}

.beer-index-item ul li:last-of-type {
  border-right: 0;
}

.beers-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 55%;
  margin-left: 5%;
  margin-bottom: 25px;
  margin-top: 100px;
}

.top {
  margin-top: 100px;
}

main {
  display: flex;
}

aside {
  background-color: white;
  width: 30%;
  margin: 20px;
  padding-bottom: 50px;
  height: fit-content;
}

aside ul {
  padding-right: 20px;
}

aside h2 {
  font-size: 26px;
  margin: 10px;
  font-weight: 500;
  margin-left: 30px;
}

.sidebar-item {
  display: flex;
  margin-left: 20px;
}

.sidebar-item img {
  height: 50px;
  width: 50px;
  margin: 10px;
  margin-right: 20px;
}

.sidebar-item h3, .checkin-link, .comments a {
  margin-top: 10px;
  color: #c60;
  font-size: 20px;
  text-transform: capitalize;
}

.checkin-show-body {
  margin: 0 auto;
}

.beer-form, .checkin-form, .checkin-show-body {
  background-color: white;
  width: 40%;
  height: 600px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.beer-form img {
  width: 20%;
  height: 100%;
}

.beer-form-top {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  flex-direction: column;
}

.beer-form > div {
  display: flex;
}

.one-third-form {
  width: 33%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.beer-form textarea {
  margin-bottom: 80px;
}

.beer-form-errors, .checkin-form-errors {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.beer-form-errors li, .checkin-form-errors li {
  color: black;
  font-size: 18px;
}

.beer-show-item {
  height: fit-content;
  margin: 20px;
  margin-left: 5%;
}

.beer-show-item nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.beer-show-item nav button {
  margin-left: 15px;
}

.beer-show-item h3 {
  font-size: 36px;
}

.star-rating {
  background-color: #ffcc00;
  height: 100%;
}

.checkin-index-item {
  display: flex;
  height: fit-content;
  margin: 20px;
  padding-bottom: 10px;
}

.checkin-index-item img {
  width: 10%;
  height: 50%
}

.checkin-index-item img:first-of-type {
  border-radius: 50px;
}

.checkin-index-item div {
  width: 80%;
}

.checkin-index-item > div {
  margin-left: 30px;
  margin-right: 30px;
}

.bar-header {
  margin-left: 5%;
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  width: 55%;
}

.small {
  font-size: 14px;
  margin-top: 10px;
}

.checkin-text {
  font-size: 20px;
  margin-bottom: 10px;
}

input[type="range"] {
  width: 55%;
  margin: 20px;
  margin-left: 0;
}

.range-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.range-container span {
  font-size: 24px;
  margin: 20px;
  margin-left: 0;
}

.checkin-form textarea {
  margin-top: 20px;
}

.checkin-show-body header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  padding: 30px;
}

.checkin-show-body header section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.checkin-show-body header img {
  height: 50px;
  width: 50px;
}

.checkin-show-body h2 {
  color: #c60;
  font-size: 26px;
  text-transform: capitalize;
  font-weight: bold;
  padding-left: 20px;
}

.checkin-show-body p {
  color: #a9a9a9;
}

.checkin-show-body hr {
  margin: 0;
  margin-bottom: 10px;
  color: #f3f2ea;
}

.checkin-show-rating {
  padding: 35px;
}

.checkin-show-rating h3 {
  margin-bottom: 15px;
}

.cheers-section, .comments, .comment-form {
  border-top: 25px solid #f3f2ea;
}

.cheers-section span {
  padding: 20px;
  border-right: 1px solid #f3f2ea;
}

.cheers-section div {
  display: inline-block;
  width: 60%;
}

.cheers-section div img {
  margin-left: 20px;
  margin-bottom: -10px;
}

.comment-form {
  width: 100%;
  padding: 0;
  background-color: white;
  margin-bottom: 50px;
}

.comment-form  p {
  margin-left: 10px;
}

.comment-form textarea {
  border: 3px solid #f3f2ea;
}

.comments {
  background-color: white;
  padding: 15px;
}

.comments span {
  padding: 15px;
  vertical-align: super;
}

.comments li {
  padding: 15px;
  border-bottom: 2px solid #f3f2ea;
}

.checkin-link.small {
  margin-left: 50px;
}

.rating-border-div {
  border: 1px solid #f3f2ea;
  width: 250px;
  margin: 0 auto;
  height: 50px;
  padding-top: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.beer-show-page {
  flex-wrap: nowrap;
  display: flex;
}

.beer-show-page div:first-child {
  width: 55%;
  display: inline-block;
  padding-left: 30px;
}

.beer-show-page aside {
  display: inline-block;
  margin-left: 110px;
  margin-top: 50px;
  margin-top: 50px;
}

.beer-show-page .beer-show-item {
  width: 100%;
  margin-top: 50px;
}

.beer-show-checkins {
  background-color: white;
  width: 100%;
  margin-left: 5%;
  margin-bottom: 50px;
  padding: 20px;
}

.beer-show-checkins li {
  justify-content: space-between;
}



// -----https://codepen.io/Bluetidepro/pen/GkpEa A PEN BY Zach Reed---
//Copyright (c) 2017 by Zach Reed (https://codepen.io/Bluetidepro/pen/GkpEa)
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 125px !important;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  display: block !important;

  &-top {
    color: #ffcc00;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

#star-li {
  padding: 0;
  border-right: 0;
}

#star-li-label {
  padding-left: 0;
}
//---------------------------------------------------------------------
